In [1]:
import pandas

Đọc file CSV sinh viên và tính điểm trung bình theo lớp.

In [2]:
data = pandas.read_csv("student_grades.csv")
data

   id          name class  mathGrade  englishGrade  machineLearningGrade
0   1  Nguyen Van A  DS01        8.5           7.5                   9.0
1   2    Tran Thi B  DS01        7.0           8.0                   7.5
2   3      Le Van C  DS02        9.0           6.5                   8.5
3   4    Pham Thi D  DS02        6.5           7.0                   6.0
4   5   Hoang Van E  DS03        8.0           8.5                   9.5

In [3]:
data["mean"] = (data["mathGrade"] + data["englishGrade"] + data["machineLearningGrade"]) // 3
class_mean = data.groupby("class")["mean"].mean()
class_mean

class
DS01    7.5
DS02    7.0
DS03    8.0
Name: mean, dtype: float64

Gộp nhiều file text thành một file lớn kèm tiêu đề.

In [4]:
with open("newData1.txt", "w", encoding='utf-8') as f:
    f.write("Hello this is newData1.txt")
with open("newData2.txt", "w", encoding='utf-8') as f:
    f.write("Hello this is newData2.txt")
with open("newData3.txt", "w", encoding='utf-8') as f:
    f.write("Hello this is newData3.txt")

In [5]:
files = ["newData1.txt", "newData2.txt", "newData3.txt"]
with open("mergeData.txt", "w", encoding='utf-8') as f:
    for file in files:
        with open (file, 'r', encoding= "utf-8") as fileChild:
            f.write(fileChild.read())
            f.write('\n')

Parse JSON cấu hình, validate khóa bắt buộc, báo lỗi rõ.

In [6]:
import json

In [7]:
with open("dataJson.json", "r", encoding='utf-8') as f:
    dataJson = json.load(f)
dataJson

[{'id': 1,
  'name': 'GunDam',
  'class': 'DS01',
  'mathGrade': 10,
  'englishGrade': 7.5,
  'machineLearningGrade': 9.0},
 {'id': 2,
  'class': 'DS01',
  'mathGrade': 7.0,
  'englishGrade': 8.0,
  'machineLearningGrade': 7.5},
 {'id': 3,
  'name': 'Le Van C',
  'class': 'DS02',
  'mathGrade': 9.0,
  'englishGrade': 6.5,
  'machineLearningGrade': 8.5},
 {'id': 4,
  'name': 'Pham Thi D',
  'class': 'DS02',
  'mathGrade': 6.5,
  'englishGrade': 7.0},
 {'id': 5,
  'name': 'Hoang Van E',
  'class': 'DS03',
  'mathGrade': 8.0,
  'englishGrade': 8.5,
  'machineLearningGrade': 9.5}]

In [8]:
from jsonschema import validate, ValidationError
import json

In [9]:
schemaData = {
    "type": "object",
    "properties": {
        "id": {"type": "string", "minimum": 1},
        "name": {"type": "string", "minLength": 1},
        "class": {"type": "string", "minLength": 1},
        "mathGrade": {"type": "number", "minLength": 1},
        "englishGrade": {"type": "number", "minLength": 1},
        "machineLearningGrade": {"type": "number", "minLength": 1}
    },
    "required": ["id", "name", "class"]
}

for item in dataJson:
    try:
        validate(instance=item, schema=schemaData)
        print("The data is very good.")
    except ValidationError as e:
        print(f"Invalid data json. {e.message}")
        print(list(e.path)) # in ra key/idx cua gia tri loi
        print(e.instance) # phan instance gay loi

Invalid data json. 1 is not of type 'string'
['id']
1
Invalid data json. 'name' is a required property
[]
{'id': 2, 'class': 'DS01', 'mathGrade': 7.0, 'englishGrade': 8.0, 'machineLearningGrade': 7.5}
Invalid data json. 3 is not of type 'string'
['id']
3
Invalid data json. 4 is not of type 'string'
['id']
4
Invalid data json. 5 is not of type 'string'
['id']
5

Ghi log theo ngày vào file, xoay file khi quá lớn.

In [10]:
from datetime import datetime
import os
def log(message, logfile = "dataJson.json"):
    time = datetime.now().isoformat()
    log_time = f"[{time}] {message} \n"
    with open(logfile, "a", encoding='utf-8') as f:
        f.write(log_time)
# log("Start")
# log("End")

Viết generator đọc file theo từng dòng (lazy).

In [11]:
def readEachLine(file = "dataJson.json"):
    with open(file, "r", encoding= 'utf-8') as f:
        for line in f:
            yield line.strip()
for line in readEachLine():
    print(line)

[
{
"id": 1,
"name": "GunDam",
"class": "DS01",
"mathGrade": 10,
"englishGrade": 7.5,
"machineLearningGrade": 9.0
},
{
"id": 2,
"class": "DS01",
"mathGrade": 7.0,
"englishGrade": 8.0,
"machineLearningGrade": 7.5
},
{
"id": 3,
"name": "Le Van C",
"class": "DS02",
"mathGrade": 9.0,
"englishGrade": 6.5,
"machineLearningGrade": 8.5
},
{
"id": 4,
"name": "Pham Thi D",
"class": "DS02",
"mathGrade": 6.5,
"englishGrade": 7.0
},
{
"id": 5,
"name": "Hoang Van E",
"class": "DS03",
"mathGrade": 8.0,
"englishGrade": 8.5,
"machineLearningGrade": 9.5
}
]

Thống kê số lượng từ trong file lớn mà không load toàn bộ vào RAM.

In [12]:
from collections import Counter
def countWord(file = "dataJson.json"):
    count = Counter()
    with open(file, "r", encoding='utf-8') as f:
        for line in f:
            word = line.strip().split()
            count.update(word)
    return count
countWord()

Counter({'{': 5,
         '"id":': 5,
         '"class":': 5,
         '"mathGrade":': 5,
         '"englishGrade":': 5,
         '"name":': 4,
         '"machineLearningGrade":': 4,
         '},': 4,
         '"DS01",': 2,
         '8.0,': 2,
         'Van': 2,
         '"DS02",': 2,
         '6.5,': 2,
         '[': 1,
         '1,': 1,
         '"GunDam",': 1,
         '10,': 1,
         '7.5,': 1,
         '9.0': 1,
         '2,': 1,
         '7.0,': 1,
         '7.5': 1,
         '3,': 1,
         '"Le': 1,
         'C",': 1,
         '9.0,': 1,
         '8.5': 1,
         '4,': 1,
         '"Pham': 1,
         'Thi': 1,
         'D",': 1,
         '7.0': 1,
         '5,': 1,
         '"Hoang': 1,
         'E",': 1,
         '"DS03",': 1,
         '8.5,': 1,
         '9.5': 1,
         '}': 1,
         ']': 1})

Chuyển dữ liệu từ CSV -> JSON theo schema định sẵn.

In [13]:
import csv
from jsonschema import validate, ValidationError

In [14]:
with open("student_grades.csv", "r", encoding='utf-8') as f:
    reader = csv.DictReader(f)
    data = []
    for row in reader:
        obj = {
            "id": int(row["id"]),
            "name": str(row["name"]),
            "class": str(row["class"]),
            "mathGrade": float(row["mathGrade"]),
            "englishGrade": float(row["englishGrade"]),
            "machineLearningGrade": float(row["machineLearningGrade"])
            
        }
        try:
            validate(instance=row, schema=schemaData)
            data.append(obj)
        except ValidationError as e:
            print(f"{e.message}")

'8.5' is not of type 'number'
'7.0' is not of type 'number'
'9.0' is not of type 'number'
'6.5' is not of type 'number'
'8.0' is not of type 'number'

Tạo backup thư mục (copy tree) bỏ qua pattern nhất định.

In [ ]:
import shutil
import fnmatch
def ignorePatterns(patterns): #patterns: danh sach muon bo qua
    def _ignore(path, names): #path: thu muc hien tai, names: danh sach file/thu muc trong path
        ignored = []
        for pattern in patterns:
            ignored.extend(fnmatch.filter(names, pattern)) # tra ve tap hop ten file/ folder can bo qua 
        return set(ignored) # tra ve tap hop
    return _ignore # tra ve _ignore de su dung copytree
shutil.copytree("/home/voanhnhat/Documents/PYTHON/EXERCISE_WEEK5", "/home/voanhnhat/Documents/PYTHON/test4", ignore = ignorePatterns(["*.tmp", "*.log"]))

'/home/voanhnhat/Documents/PYTHON/test4'

ETL mini: đọc CSV bán hàng, làm sạch dữ liệu (trim, loại bỏ null), tính doanh thu theo tháng và xuất JSON kết quả.